<!-- Start header -->

<header class="header-contaiter">
    <!-- Logo -->
    <div class="header-contaiter_logo">
        <a href="#" class="header-contaiter_logo-a">
            <figure class="header-contaiter_logo-icon">
                <img src="../assets/icons/Ellipse 2.svg" alt="Logo">
            </figure>
            <span class="header-contaiter_logo-title">
                <span>Digital</span>
                <span>Agency</span>
            </span>
        </a>
        
    </div>
    <!-- Navigation -->
    <nav class="header-contaiter_menu">
        <ul class="header-contaiter_menu-list">
            <li>Ana Sayfa</li>
            <li>Kurumsal</li>
            <li>Neler Yapıyoruz?</li>
            <li>Blog</li>
        </ul>
    </nav>
    <!-- Login and language -->
    <div class="header-contaiter_user">
        <span class="header-contaiter_user-language">EN</span>
        <button class="header-contaiter_user-login btn">Müşteri Girişi</button>
    </div>
</header>