<main>
    <!-- Tag div 1: Working process -->
     <div class="Working_process">
        <div class="Working_process-title">
            <span>Neler <span class="text-blue">Yapıyoruz?</span></span>
            <h2>3 adımda çalışma sürecimiz</h2>
            <p>360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.</p>
        </div>
        <div class="Working_process-list">
            <div class="Working_process--1">
                <img src="../assets/icons/Group 32.svg" alt="">
                <h3>Keşif ve Planlama</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
            <div class="Working_process--2">
                <img src="../assets/icons/Group 30.svg" alt="">
                <h3>Tasarım ve Geliştirme</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
            <div class="Working_process--3">
                <img src="../assets/icons/Group 28.svg" alt="">
                <h3>Test ve Yayına Alma</h3>
                <p>
                    Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır.
                </p>
            </div>
        </div>

        <!-- Preferential -->
         <div class="Preferential--blue">
            <h2>
                Ürününüz veya hizmetiniz için en iyisini birlikte yapalım.
            </h2>
            <p>
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <button type="button">
                <p>HEMEN TEKLİF ALIN</p>
                <img src="../assets/icons/CaretDoubleRight.svg" alt="">
            </button>
            <!-- <div class="Preferential__button">
               
            </div> -->
         </div>
     </div>
</main>